/*set box-sizing to border-box for all element, 
* and make body and html spans the full size*/
body,
html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*set color palette as variable*/
:root {
  --cy1: #3674B5;
  --cy2: #578FCA;
  --cy3: #A1E3F9;
  --cy4: #D1F8EF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container,
#display,
button {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: var(--cy1);
}

#container {
  height: 70%;
  width: 40%;

  padding: 10px;

  display: flex;
  flex-direction: column;

  background-color: var(--cy3);
}

#display {
  flex-grow: 3;
  background-color: var(--cy4);
  padding: 5px;

  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-size:47px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  display: inline-block;
  vertical-align: middle;
}

#buttons {
  flex-grow: 10;

  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#subbuttons {
  flex-grow: 1;

  width: 100%;

  display: flex;
  gap: 10px;
}

button {
  font-size: 24px;
  flex-grow: 1;
}

#backspace,
#zero {
  flex-grow: 2;
}

.darken {
  background-color: var(--cy2);
}
